extends layout.pug

block content

  article.portfolio-intro

   
    h1 My Web Portfolio

    
    p This portfolio showcases the projects I had to complete to earn my degree as a fullstack JavaScript developper at #[a(href='http://teamtreehouse.com') TeamTreehouse.com ]. Be sure to checkout this site often for more projects or shoot me an email if you are interested in working with me!


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
            a(href=`/projects/${project.id}`)
              img.thumbnail(src=`static/${project.image_urls.thumbnail}`, alt=`Thumbnail: ${project.project_name}`)
              h5 !{project.project_name}
    

        

